<main class="main">
  <div class="currency" title="Изменить валюту" id="change-currency" (click)="changeCurrency()">{{ currency }}</div>
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="../assets/images/logo.svg" alt="Trendy Cookies">
      </div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item"><a class="link" (click)="scrollTo(products)">Каталог</a></li>
          <li class="menu-item"><a class="link" (click)="scrollTo(love)">О нас</a></li>
          <li class="menu-item"><a class="link" (click)="scrollTo(order)">Оформление заказа</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="main-content" aria-label="Главный баннер">
    <div class="container">
      <img class="line-1" src="../assets/images/line1.svg" alt="Извилистая сирененвая линия">
      <div class="main-info">
        <h1 class="main-title">Магия вкуса в каждой крошке</h1>
        <p class="main-text">Наши рецепты вдыхают жизнь в изысканность ингредиентов: ароматное натуральное
          масло,
          свежие сливки, чистый мёд и отборная мука. Мы тщательно отбираем каждый компонент премиального
          печенья,
          стремясь подарить вам истинное кулинарное наслаждение.</p>
        <div class="main-action">
          <button class="button" id="main-action-button" (click)="scrollTo(products)">Заказать</button>
        </div>
      </div>
      <img class="main-image" src="../assets/images/cookie.png" alt="Cookie">
    </div>
  </section>

  <section class="products" id="products" aria-label="Ассортимент продукции" #products>
    <div class="container">
      <img class="line-2" src="../assets/images/line2.svg" alt="Извилистая сирененвая линия">
      <h2 class="common-title">Выберите печенье</h2>
      <div class="sugar-free">
        <div>Все</div>
        <input type="checkbox" id="switch" (change)="switchSugarFree($event)" />
        <label for="switch"></label>
        <div>Без сахара</div>
      </div>
      <div class="products-items">
        <article class="products-item" *ngFor="let product of productsData">
          <div class="products-item-image">
            <img src="{{product.image}}" alt="Печенье 'Лучшие друзья'">
          </div>
          <div class="products-item-details">
            <h3 class="products-item-title">{{ product.title }}</h3>
            <p class="products-item-text">{{product.text}}</p>
            <div class="products-item-extra">
              <div class="products-item-info">
                <p class="products-item-price" >{{ product.price }} {{ currency }}</p>
                <p class="products-item-weight">{{ product.weight }}</p>
              </div>
              <button type="button" class="button violet-button"  (click)="scrollTo(order, product)">Заказать</button>
            </div>
          </div>
        </article>

      </div>
    </div>
  </section>

  <section class="love" id="love" aria-label="Приготовлено с заботой" #love>
    <div class="container">
      <h2 class="common-title">Пекарня с любовью</h2>
      <div class="love-items">
        <div class="love-item love-item-white">
          <h3 class="love-item-title">Приготовлено с заботой, чтобы радовать вас каждый день</h3>
          <p class="love-item-text">Мы с гордостью представляем наше печенье, которое мы выпекаем вручную
            каждый
            день с 1995 года, используя только лучшие ингредиенты. Погрузитесь в мир изысканных лакомств,
            приготовленных с применением передовых технологий, и насладитесь их неповторимым вкусом.</p>
        </div>
        <div class="love-item love-item-image">
          <img src="../assets/images/love.jpg" alt="Печеньки">
        </div>
      </div>
    </div>
  </section>

  <section class="order" id="order" aria-label="Заказать печенье" #order>
    <img class="line-3" src="../assets/images/line3.svg" alt="Извилистая сирененвая линия">
    <div class="container">
      <div class="common-title">Закажите печенье</div>
      <img class="order-bg-image" src="../assets/images/breadcrumbs.png" alt="Крошки">
      <div class="order-block">
        <form method="POST" name="Order" class="order-form">
          <p class="order-form-text">Откройте для себя волшебство вкуса с нашим премиальным печеньем! Закажите
            прямо сейчас и окунитесь в мир сладких наслаждений. </p>
          <div class="order-form-inputs" [formGroup]="form">
            <label for="product"></label>
            <input type="text" placeholder="Выберите печенье" id="product" name="cookies" formControlName="product" [class]="{'error': form.get('product')?.invalid && (form.get('product')?.dirty || form.get('product')?.touched)}" readonly>
            <label for="name"></label>
            <input type="text" placeholder="Ваше имя" id="name" name="name" formControlName="name" [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)}">
            <label for="phone"></label>
            <input type="text" placeholder="Ваш телефон" id="phone" name="phone" formControlName="phone" [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)}">
            <button type="button" class="button violet-button" id="order-action" (click)="confirmOrder()" [disabled]="!form.valid" >Оформить заказ</button>
          </div>
        </form>
        <div class="order-block-image">
          <img class="order-image" src="../assets/images/order.png" alt="Пирамидка из печенек">
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="logo">
      <img src="../assets/images/logo.svg" alt="Trendy cookies">
    </div>
    <p class="rights">«Все права защищены»</p>
  </footer>
</main>
